body {
   /* background: url('img/1.jpg') fixed; */
   background-size: cover;
}

:root {
  --red: #ff6f69;
  --beige: #ffeead;
  --yellow: #ffcc5c;
}

*[role="form"] {
   max-width: 530px;
   padding: 15px;
   margin: 50 auto 25;
   border-radius: 0.3em;
   background-color:  #0000006b;
}

*[role="form"] h2 {
   font-family: 'Open Sans' , sans-serif;
   font-size: 40px;
   font-weight: 600;
   color: #00000096;
   margin-top: 5%;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 4px;
}
